
<ul>

    
   
   


    <a href="/pelicula/{{pelicula.id}}"><li><strong>{{ pelicula.nombre }}</strong></a></li>
    
    <li><strong>A単o</strong>: {{ pelicula.a単o }}</li>
    <li><strong>Director</strong>: {{ pelicula.director }}</li>

    {% if pelicula.libro %}
    <li><strong>Libro</strong>: {{ pelicula.libro.nombre }}</li>
    {% endif %}
    <li><strong>Nombre:</strong>: {{ pelicula.nombre }}</li>
    <li><strong>A単o</strong>: {{ pelicula.a単o }}</li>
    <a href="/pelicula/editar/{{pelicula.id}}">Editar</a>
    <a href="/pelicula/delete/{{pelicula.id}}">Eliminar</a> 


    
   

</ul>